* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: black;
  color: white;
}

header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: white;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
  color: #00c3ff;
  text-shadow: 0 0 5px #00c3ff;
}

nav a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: #00c3ff;
  border-bottom: 3px solid #00c3ff;
}

section {
  margin: 10rem 5rem;
}

section h1 {
  color: #00c3ff;
}

.p h1 {
  margin: 2rem 0;
  font-size: 2.5rem;
}

iframe {
  width: 50vw;
  border-radius: 15px;
  border: 3px solid #00c3ff;
}
.p {
  display: block;
  padding-bottom: 2rem;
  border-bottom: 5px solid #00c3ff;
}

button {
  width: 16rem;
  height: 4rem;
  background-color: #00c3ff;
  color: black;
  border: 3px solid #00c3ff;
  border-radius: 25px;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
  border: 3px solid #00c3ff;
  box-shadow: 0 0 20px #00c3ff;
  transition: box-shadow, color, border, background-color 0.5s;
}

iframe {
  width: 65rem;
  height: 70vh;
}

h3 {
  margin: 1rem;
  font-size: 2.5rem;
}

/* ===================== RESPONSIVE DESIGN ===================== */

/* Tablets */
@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
  iframe {
    width: 80vw;
  }
}

/* Mobile */
@media (max-width: 600px) {
  section h1 {
    text-align: center;
  }
  iframe {
    width: 90vw;
    height: 50vh;
  }
}
